<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IndoorPositionning_02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87F129DB1D27FF4700014021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F129EF1D27FF4A00014021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F129FA1D27FF4A00014021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
